include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Desentupidora Se7e")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Desentupidora Se7e
        
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body
    
        +popup()
        +menu()
        
        section.header     
          .container
            h3.title.handwriting Conheça Mais Sobre Nós           
        section.full-content
            .container
                h3.title.alt a empresa
                .contents
                    .info
                        figure
                            img(src="assets/images/contents/about-01.png")
                        span Missão
                        p  Garantir a prestação de serviço com qualidade, ética e responsabilidade, atendendo a real necessidade do cliente, compatibilizando com a satisfação dos e expectativas. 
                    .info
                        figure
                            img(src="assets/images/contents/about-02.png")
                        span Visão
                        p Alcançar a excelência na prestação de serviços e inovação no atendimento.
                    .info
                        figure
                            img(src="assets/images/contents/about-03.png")
                        span Valores
                        ul
                          li Autonomia - Ser responsável nas atitudes.
                          li Credibilidade - Refletir confiança no atendimento.
                          li Ética - Praticar transparência no atendimento ao cliente.
                          li Inovação - Buscar soluções criativas e viáveis .
                          li Trabalho em equipe - Estar comprometido com a empresa, com projetos e ações da organização.
                          li Responsabilidade social – Consciência ambiental e do meio ambiente.

                .contents
                  .info-boxes  
                    .box
                      figure
                        img(src="assets/images/contents/icons/about-01.png")
                      .desc
                        p  Transparência na execução dos serviços
                    .box
                      figure
                        img(src="assets/images/contents/icons/about-02.png")
                      .desc
                        p  Equipamentos novos e modernos sem vazamentos e colaboradores treinados.
                    .box
                      figure
                        img(src="assets/images/contents/icons/about-03.png")
                      .desc
                        ul
                          li Colaboradores uniformizados , com identificação através de crachás e com laudos da medicina do trabalho e EPI’s.
                          li Empresa 100% legal ambiental (IAP, SANEPAR, IBAMA) e fiscal
                          li PREOCUPAÇÃO AMBIENTAL – descarte dos resíduos na estação de tratamento.
                    .box
                      figure
                        img(src="assets/images/contents/icons/about-04.png")
                      .desc
                        ul
                          li O local fica limpo sem quebrar ou sujar
                          li Respeito ao cliente
                          li Negociação de valores
                          li Honestidade na execução
                          
                +cert()
                
        +contact()            
        +footer()
                        
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/scrollIt.js")
        script(type="text/javascript" src="assets/scripts/functions.js")
