include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Desentupidora Se7e")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Desentupidora Se7e
        
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body
    
        +popup()
        +menu()
        
        section.full-content.page
            
        section.full-content.posts
            .container
              .contents#posts
              
                .post
                  span.date 20/02/2016
                  h3.title.handwriting  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, illum!
                  figure(style="background-image: url('/assets/images/banner/01.jpg')")
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat accusamus qui tempora consequatur ipsam sapiente dolor, earum sunt. Officia eius laudantium illum sapiente exercitationem accusamus suscipit obcaecati cum perferendis culpa tenetur deserunt optio dolore repudiandae, quasi consequatur commodi quibusdam nesciunt eveniet fugiat quisquam debitis. Culpa quas ratione eos blanditiis corporis asperiores aspernatur magni distinctio, quisquam, porro voluptates nisi, rerum adipisci.
                  a.cta(href="info.jade") Visualizar Post Completo
              
                .post
                  span.date 20/02/2016
                  h3.title.handwriting  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, illum!
                  figure(style="background-image: url('/assets/images/banner/01.jpg')")
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat accusamus qui tempora consequatur ipsam sapiente dolor, earum sunt. Officia eius laudantium illum sapiente exercitationem accusamus suscipit obcaecati cum perferendis culpa tenetur deserunt optio dolore repudiandae, quasi consequatur commodi quibusdam nesciunt eveniet fugiat quisquam debitis. Culpa quas ratione eos blanditiis corporis asperiores aspernatur magni distinctio, quisquam, porro voluptates nisi, rerum adipisci.
                  a.cta(href="info.jade") Visualizar Post Completo
              
                .post
                  span.date 20/02/2016
                  h3.title.handwriting  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, illum!
                  figure(style="background-image: url('/assets/images/banner/01.jpg')")
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat accusamus qui tempora consequatur ipsam sapiente dolor, earum sunt. Officia eius laudantium illum sapiente exercitationem accusamus suscipit obcaecati cum perferendis culpa tenetur deserunt optio dolore repudiandae, quasi consequatur commodi quibusdam nesciunt eveniet fugiat quisquam debitis. Culpa quas ratione eos blanditiis corporis asperiores aspernatur magni distinctio, quisquam, porro voluptates nisi, rerum adipisci.
                  a.cta(href="info.jade") Visualizar Post Completo
              
                .post
                  span.date 20/02/2016
                  h3.title.handwriting  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, illum!
                  figure(style="background-image: url('/assets/images/banner/01.jpg')")
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat accusamus qui tempora consequatur ipsam sapiente dolor, earum sunt. Officia eius laudantium illum sapiente exercitationem accusamus suscipit obcaecati cum perferendis culpa tenetur deserunt optio dolore repudiandae, quasi consequatur commodi quibusdam nesciunt eveniet fugiat quisquam debitis. Culpa quas ratione eos blanditiis corporis asperiores aspernatur magni distinctio, quisquam, porro voluptates nisi, rerum adipisci.
                  a.cta(href="info.jade") Visualizar Post Completo
              
                .post
                  span.date 20/02/2016
                  h3.title.handwriting  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, illum!
                  figure(style="background-image: url('/assets/images/banner/01.jpg')")
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat accusamus qui tempora consequatur ipsam sapiente dolor, earum sunt. Officia eius laudantium illum sapiente exercitationem accusamus suscipit obcaecati cum perferendis culpa tenetur deserunt optio dolore repudiandae, quasi consequatur commodi quibusdam nesciunt eveniet fugiat quisquam debitis. Culpa quas ratione eos blanditiis corporis asperiores aspernatur magni distinctio, quisquam, porro voluptates nisi, rerum adipisci.
                  a.cta(href="info.jade") Visualizar Post Completo
              
                .post
                  span.date 20/02/2016
                  h3.title.handwriting  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, illum!
                  figure(style="background-image: url('/assets/images/banner/01.jpg')")
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat accusamus qui tempora consequatur ipsam sapiente dolor, earum sunt. Officia eius laudantium illum sapiente exercitationem accusamus suscipit obcaecati cum perferendis culpa tenetur deserunt optio dolore repudiandae, quasi consequatur commodi quibusdam nesciunt eveniet fugiat quisquam debitis. Culpa quas ratione eos blanditiis corporis asperiores aspernatur magni distinctio, quisquam, porro voluptates nisi, rerum adipisci.
                  a.cta(href="info.jade") Visualizar Post Completo
                  
                .more
                  hr
                  a.cta.alt Carregar Mais Postagens
                  

        +contact()            
        +footer()
                        
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/scrollIt.js")
        script(type="text/javascript" src="assets/scripts/functions.js")
