include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Desentupidora Se7e")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Desentupidora Se7e
        
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body
    
        +popup()
        +menu()
        
        section.header     
          .container
            h3.title.handwriting Economia de água: Dicas para consumir sem desperdícios
            
        section.full-content
            .container
              .text
                p Antes de anotar todas as dicas de economia de água é bom lembrar que a empresa responsável por tratar e levar a água para os moradores da cidade é a Manaus Ambiental. A água desperdiçada não pode ser aproveitada nem por você, nem pelos outros e nem pela Manaus Ambiental. Então quando alguém desperdiça todos perdem, inclusive a natureza!

                p Aqui você pode aprender a fazer a sua parte evitando desperdício e garantindo economia na conta de água!

                p É importante saber: Nas contas de água todo o volume registrado pelo hidrômetro é considerado consumo e esse aparelho apura estes três fatores:

                p CONSUMO EFETIVO - O que é percebido como consumo real. Varia de acordo com as necessidades em cada domicílio.

                p DESPERDÍCIO - Perdas voluntárias durante as atividades domésticas e causadas pelo mau uso da água e por maus hábitos.

                p VAZAMENTO - Perdas involuntárias, geralmente não aparentes, em torneiras, sanitários, caixas d’agua e outros.

                p Por isso é tão importante evitar desperdícios de água e reparar os vazamentos para conseguir reduzir os valores das suas contas.

                p Fique de olho nas Dicas de Economia!

                p Cheque vazamentos em canos e não deixe torneiras pingando. Um gotejamento simples, pode gastar cerca de 45 litros de água por dia.
                p Deixe pratos e talheres de molho antes de lavá-los.
                p Aproveite a água da chuva para aguar as plantas e o jardim. As plantas absorvem mais água em horários quentes, então molhe -as de manhã cedo ou no fim do dia.
                p Feche a torneira quando estiver escovando os dentes ou fazendo a barba. Só abra quando for usar. Uma torneira aberta por 5 minutos desperdiça 80 litros de água.
                p Em vez da mangueira, use vassoura e balde para lavar patios e quintais. Uma mangueira aberta por 30 minutos libera cerca de 560 litros de água.
                p Reaproveite a água da sua máquina de lavar para lavar a calçada.
                p Saber ler o hidrômetro é muito simples e pode ajudar a detectar problemas como vazamentos, percebidos pelo 
                p consumo fora do normal.
                p Não tome banhos demorados, 5 minutos são suficientes. Uma ducha durante 15 minutos consome 135 litros de água.
                p Antes de lavar pratos e panelas, limpe os restos de comida com uma escova ou esponja e jogue no lixo.
                p Como descobrir vazamentos...

                h3 NA INSTALAÇÃO INTERNA
                ul
                  li 1) Feche o registro do hidrômetro
                  li 2) Abra a torneira logo após o hidrômetro e espere toda a água escorrer
                  li 3) Coloque um copo cheio de água na boca desta torneira 
                  li 4) Se a água do copo for sugada é sinal de que há vazamento no ramal que está ligado diretamente à rede.

                h3 DENTRO DE CASA
                ul
                  li 1) Feche todas as torneiras e não use os sanitários
                  li 2) Feche o registro do hidrômetro para interromper o fluxo da água
                  li 3) Marque o nível da água na caixa d’agua e depois de 1h confira.
                  li 4) Se o nível estiver mais baixo é sinal de que há vazamento nos canos ou nos sanitários da casa.

                h3 NA VÁLVULA OU NA CAIXA DE DESCARGA
                ul
                  li Jogue pó de café no vaso sanitário e observe. Se ele derreter ou desaparecer é sinal de que há vazamento na válvula ou caixa de descarga..
                  
                h3 ENTRE O HIDRÔMETRO E A CISTERNA/ CAIXA D’AGUA
                ul
                  li Impeça a entrada de água da cisterna ou da caixa, levantando a boia. Se o ponteiro do hidrômetro continuar girando é sinal de que existe vazamento.
                  
                h3 NA CISTERNA
                ul
                  li 1) Deixe a boia levantada e não ligue a bomba
                  li 2) Depois de algum tempo verifique o nível da água na cisterna
                  li 3) Se o nível tiver baixado é sinal de que existe vazamento, possivelmente causado por rachaduras na cisterna.
                  
                p Agora é hora de colocar em prática as dicas de economia e consertar os vazamentos encontrados. Assim você evita desperdício de água, colabora com a natureza e ainda reduz sua conta de água.  
              
                .share
                  a: i.fa.fa-facebook
                  h4 Compartilhe
        +contact()            
        +footer()
                        
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/scrollIt.js")
        script(type="text/javascript" src="assets/scripts/functions.js")
