include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Desentupidora Se7e")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Desentupidora Se7e
        
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body
    
        +popup()
        +menu()
        
        section.header     
          .container
            h3.title.handwriting Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum provident facere et!
            
        section.full-content
            .container
              .text
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla possimus perferendis quia ipsum libero numquam culpa assumenda nesciunt, perspiciatis, distinctio harum omnis adipisci earum, cupiditate asperiores incidunt? Quaerat nulla officiis omnis nobis impedit, nisi provident corporis, nam est, ipsa architecto, sunt tenetur. Dolore nihil expedita beatae placeat quos illum veniam, consectetur, voluptatibus laborum quae pariatur vitae itaque! Magnam non, necessitatibus!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla possimus perferendis quia ipsum libero numquam culpa assumenda nesciunt, perspiciatis, distinctio harum omnis adipisci earum, cupiditate asperiores incidunt? Quaerat nulla officiis omnis nobis impedit, nisi provident corporis, nam est, ipsa architecto, sunt tenetur. Dolore nihil expedita beatae placeat quos illum veniam, consectetur, voluptatibus laborum quae pariatur vitae itaque! Magnam non, necessitatibus!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla possimus perferendis quia ipsum libero numquam culpa assumenda nesciunt, perspiciatis, distinctio harum omnis adipisci earum, cupiditate asperiores incidunt? Quaerat nulla officiis omnis nobis impedit, nisi provident corporis, nam est, ipsa architecto, sunt tenetur. Dolore nihil expedita beatae placeat quos illum veniam, consectetur, voluptatibus laborum quae pariatur vitae itaque! Magnam non, necessitatibus!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla possimus perferendis quia ipsum libero numquam culpa assumenda nesciunt, perspiciatis, distinctio harum omnis adipisci earum, cupiditate asperiores incidunt? Quaerat nulla officiis omnis nobis impedit, nisi provident corporis, nam est, ipsa architecto, sunt tenetur. Dolore nihil expedita beatae placeat quos illum veniam, consectetur, voluptatibus laborum quae pariatur vitae itaque! Magnam non, necessitatibus!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla possimus perferendis quia ipsum libero numquam culpa assumenda nesciunt, perspiciatis, distinctio harum omnis adipisci earum, cupiditate asperiores incidunt? Quaerat nulla officiis omnis nobis impedit, nisi provident corporis, nam est, ipsa architecto, sunt tenetur. Dolore nihil expedita beatae placeat quos illum veniam, consectetur, voluptatibus laborum quae pariatur vitae itaque! Magnam non, necessitatibus!

                .share
                  a: i.fa.fa-facebook
                  h4 Compartilhe
        +contact()            
        +footer()
                        
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/scrollIt.js")
        script(type="text/javascript" src="assets/scripts/functions.js")
