include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Desentupidora Se7e")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Desentupidora Se7e
        
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body
    
        +popup()
        +menu()
                        
        section.slider
            ul.slides-container
                +slide('01.jpg','limpeza de calhas','Em diversas áreas,banheiros,esgoto, manutenção preventiva de tubulações de todas as redes.')
                +slide('02.jpg','Desentupimento','Em diversas áreas,banheiros,esgoto, manutenção preventiva de tubulações de todas as redes.')
                +slide('03.jpg','HidroJateamento','Limpeza e lavagem da rede coletora de agua de chuva ou da rede coletora do resíduos para o esgoto.')
                +slide('04.jpg','Limpeza de Fossa','Mantenha uma limpeza freqüênte.Fale com a Se7e e marque uma visita com nossos profissionais!')
                +slide('05.jpg','Limpeza de  Caixa D´Agua','Pluvial, caixa de gordura e caixa pluvial.')
                        
        section.about
            .container
                h3.title empresa
                .contents
                    .info
                        figure
                            img(src="assets/images/contents/about-01.png")
                        span Missão
                        p  Garantir a prestação de serviço com qualidade, ética e responsabilidade, atendendo a real necessidade do cliente, compatibilizando com a satisfação dos e expectativas. 
                    .info
                        figure
                            img(src="assets/images/contents/about-02.png")
                        span Visão
                        p  Alcançar a excelência na prestação de serviços e inovação no atendimento.
                    .info
                        figure
                            img(src="assets/images/contents/about-03.png")
                        span Valores
                        ul
                          li  Autonomia - ser responsável nas atitudes.
                          li  Credibilidade - refletir confiança no atendimento.
                          li  Ética - praticar transparência no atendimento ao cliente.
                          li  Inovação - buscar soluções criativas e viáveis.
                          li  Trabalho em equipe - estar comprometido com a empresa, com projetos e ações da organização.
                          li  Responsabilidade social – consciência ambiental e do meio ambiente.

                        
                a.cta(href="#") + Informações!
                
        section.gallery
            .container
                h3.title Galeria
            .contents
                +gallery()
                
        section.services
            .container
                h3.title Serviços
                .contents
                    +services('service-01.png','Hidrojateamento em rede pluvial	(água de chuva), tubulação da rede coletora de esgoto em geral')
                    +services('service-02.png','Desentupimento de pia, tanques, mictórios, vasos sanitário e outros')
                    +services('service-03.png','Limpezas em caixas d’água, com emissão de certificado')
                    +services('service-04.png','Água para irrigação de jardins, lavagem de ruas, pátios, fachadas e limpeza em geral')
                    +services('service-05.png','Esgotamento de fossa (efluentes oriundo de esgoto)')
                    +services('service-06.png','Limpeza de calhas')
                    +services('service-07.png','Lavagem de pátio, quadra, barracões')
                    +services('service-08.png','Desentupimento de rede de esgoto')
                    +services('service-09.png','Esgotamento de piscina com reutilização da água para lavagem de pátio, garagem, etc.')
                    +services('service-10.png','Limpeza em caixas séptica de gordura (coleta, transporte, destinação e certificação).')
                    
                    a.cta(href="services.html") + DETALHES
                
        section.blog
            .container
                h3.title Blog
                .contents
                    .item
                        figure
                            img(src="assets/images/contents/blog/01.jpg", alt="")
                        main
                            h4.title Título do artigo
                            p.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa blanditiis optio ullam quibusdam provident, maiores expedita amet quis rem neque!
                            a.cta.white Leia Mais
                    .item
                        figure
                            img(src="assets/images/contents/blog/01.jpg", alt="")
                        main
                            h4.title Título do artigo
                            p.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa blanditiis optio ullam quibusdam provident, maiores expedita amet quis rem neque!
                            a.cta.white Leia Mais
                            
        section.tips
            .container
                .contents
                    .item.placeholder
                    .item
                        ul
                            li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, minus.
                            li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ipsam?
                            li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, iusto.
                            li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolore.
                    
        +contact()
                        
        +footer()
                        
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/scrollIt.js")
        script(type="text/javascript" src="assets/scripts/functions.js")
