@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic)
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic)
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic)
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300,700)

@import 'bootstrap'
@import 'font_awesome'
@import 'variables'
@import 'animate'

@import '_owl.carousel'
@import '_owl.theme'
@import '_owl.transitions'

@import 'header'
@import 'slider'
@import 'sections'
@import 'section.about'
@import 'section.gallery'
@import 'section.services'
@import 'section.blog'
@import 'section.tips'
@import 'section.contact'
@import 'footer'

@viewport
    zoom: 1.0
    width: device-width

@font-face 
    font-family: 'SignPainter'
    src: url('../fonts/SignPainter-HouseScript.ttf')
    font-weight: normal
    font-style: normal

body,html
    font-family: Raleway
    margin: 0
    padding: 0
    overflow-x: hidden
    -webkit-font-smoothing: antialiased !important
    -moz-font-smoothing: antialiased !important
    font-smoothing: antialiased !important
    
    a , a:active , a:hover , a:link , a:visited
        text-decoration: none
    
    .scroll-top
        position: fixed
        right: 10px
        bottom: 10px
        width: 48px
        height: 48px
        background-color: $_primary-orange
        text-align: center
        display: flex
        justify-content: center
        align-content: center
        border-radius: 50%
        transition: all 0.4s ease-in-out
        opacity: 0
        box-shadow: 0px 2px 3px $_primary-black

        a
            display: block
            text-decoration: none
            color: $_primary-white
            font-size: 30px
            cursor: pointer

        &:hover
            background-color: lighten( $_primary-orange, 10%)

            a
                color: $_primary-white
            
    .primary
        color: $_primary-orange
        
        
    .productPopup-overlay
        position: fixed
        background-color: rgba( $_primary-black , 0.467 )
        width: 100vw
        height: 100vh
        z-index: 14
        display: none
    
    .productPopup
        position: fixed
        width: auto
        min-height: 200px
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        border-radius: 6px
        display: flex
        align-items: center
        justify-content: center
        z-index: 14
        border: 4px solid $_primary-white
        overflow-y: hidden
        display: none
        max-width: 100%
        max-height: 100vh

        @media( max-width: 640px )
            width: 100%
            height: 100vh
            border: none
            border-radius: 0

        .contents
            width: 100%
            height: auto
            display: flex
            align-items: center
            justify-content: center
            position: relative
            
            &:before
                position: fixed
                content: ''
                width: 157px
                height: 68px
                background:
                    image: url("../images/contents/section-bump.png")
                    repeat: no-repeat
                    position: 0 0

                bottom: 100%
                left: 50%
                transform: translateX(-50%)

            a.toggle
                position: fixed
                bottom: calc( 100% - 10px )
                left: 50%
                transform: translateX(-50%)
                color: $_primary-black
                cursor: pointer
                font:
                    size: responsive 40px 60px
                    family: Lato
                    weight: 900

            img
                width: 100%