mixin gallery()
    .column                    
        figure
            img(src="//placeimg.com/641/480/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/642/480/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/643/480/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/644/480/arch", alt="")
            a(href="#")
                i.fa.fa-search

    .column                    
        figure
            img(src="//placeimg.com/640/485/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/640/486/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/640/487/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/640/488/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/640/489/arch", alt="")
            a(href="#")
                i.fa.fa-search

    .column                    
        figure
            img(src="//placeimg.com/640/481/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/640/482/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/640/483/arch", alt="")
            a(href="#")
                i.fa.fa-search
        figure
            img(src="//placeimg.com/640/484/arch", alt="")
            a(href="#")
                i.fa.fa-search
                
                
                
                
mixin services(image,title,link)
    .item
        figure
            img(src="assets/images/contents/icons/#{image}", alt="")
        span #{title}
        a.cta.blue(href="#{link}") + info